body {
  text-align: center;
  font-family: 'Open Sans';
}

.navbar.center .navbar-inner .nav {
  width: 100%;
  text-align: center;
  > ul {
    float: none;
    display: inline-block;
  }
}

.navbar-nav.navbar-center {
    position: relative;
    left: 44%;
    transform: translatex(-50%);
}

#title-1 {
    color: red;
    font-weight: 800;

}

#title-2 {
    color: white;
    font-weight: 400;

}


.light {
  font-weight: 400;
}

.bold {
  font-weight: 800;
}
